
$black:rgb(49,55,61);
$gray:#80858c;
$white:#ffffff;
$width3:24.5%;
/*$width8:79.5%;*/
$width10:90%;
$gap1:3%;

/* menu */
.menu{
  position:fixed;
  height:100%;
  width:$width3;
  font-family: "Great Vibes","Chalkduster","Herculanum","Helvetica Neue";/*Sarina*/
  padding-top:$gap1;
  a{
    display:block;
    color:$gray;
    line-height:2;
    text-decoration:none;
  }
  a:hover{
    color:$white
  }
}
.content{
  // width:$width10 - $width3;
  margin-left:$width3;

}
.main{
  margin:$gap1
}
.myself{
  position:fixed;
  bottom:5%;
  left:4%;
  color:#fff;
  font: 1.2em "STKaiti,cursive,fantasy";
  width:$width3 - 9%;

}
/* common */
.nomargin{
  margin:0!important;

}
.nopadding{
  padding:0!important;

}
.bg-black{
  background:$black;

}
.gap1{
  padding:$gap1;

}
// list style

.posts li{
  color: #999;
  line-height: 30px;
}
.posts li a{
  font-size: 1em;
  text-decoration: none;
  font-weight: normal;
}
.posts li span{
  font-size: 0.75em;
  color: #999;
}
// responsive
@media (max-width: 767px){
  body{
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 640px){
  .menu,.myself{
    position: static;
    width: 100%;
    overflow: hidden;
    ul{
      display: none;
    }
    .title{
      a{
        display: inline-block;
      }
    }
  }
  .content{
    margin-left: 0;
  }
  .menu-toggle{
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    border: solid #fff;
    border-width: 2px 0;
    width: 24px;
    height: 14px;
    cursor: pointer;
    border-radius: 20%;
    // box-shadow: 0px 0px 0px (#666 * 20);
    &:before{
      display: block;
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      right: 0;
      // height: 1px;
      // width: 100%;
      border-top: 2px solid #fff;
      // border-radius: 50%;
      background-color: #fff;
      // box-shadow: 0px 0px 2px (#666 * 20);
      -webkit-animation: boxShadow 0.5s linear 1s infinite alternate;
         -moz-animation: boxShadow 0.5s linear 1s infinite alternate;
           -o-animation: boxShadow 0.5s linear 1s infinite alternate;
              animation: boxShadow 0.5s linear 1s infinite alternate;
    }
  }
}

@-webkit-keyframes boxShadow { from{box-shadow: none;left: 0;right: 0;} to {box-shadow: 0 0 10px (#fff);left: 15px;right: 15px;}  }
   @-moz-keyframes boxShadow { from{box-shadow: none;left: 0;right: 0;} to {box-shadow: 0 0 10px (#fff);left: 15px;right: 15px;}  }
     @-o-keyframes boxShadow { from{box-shadow: none;left: 0;right: 0;} to {box-shadow: 0 0 10px (#fff);left: 15px;right: 15px;}  }
        @keyframes boxShadow { from{box-shadow: none;left: 0;right: 0;} to {box-shadow: 0 0 10px (#fff);left: 15px;right: 15px;}  }







