<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/bootstrap-responsive.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <!--Sidebar content-->
        <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        <a class="extra" href="/">home</a>
      </div>
      <div class="span10">
        <!--Body content-->
        {{ content }}
        <div class="footer">
          <div class="contact">
            <p>
              Your Name<br />
              qinyin@networking.io
            </p>
          </div>
          <div class="contact">
            <p>
              <a href="https://github.com/yourusername">github.com/yourusername</a><br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
